.card {
  border: 0.125rem solid var(--grey-color-0);
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  height: 20.625rem;
  width: 15.625rem;
  cursor: pointer;

  &:hover {
    border: 0.125rem solid var(--color-primary);
    transition: 0.4s;
  }

  & > img {
    background-color: var(--grey-color-0);
    height: 10.625rem;
    object-fit: cover;
  }

  & > div {
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}

.span__value {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.875rem;
}
